@keyframes move{
    0%{               /*point falling*/
        top: 0px;
        animation-timing-function: ease-in-out;
        transform: scale(1,1);
    }
    8%{
        animation-timing-function: ease-in-out;
        transform: scale(1,1);
    }
    9.09%{          /*point end */
        top: 340px;
        animation-timing-function: ease-out;
        transform: scale(1.1,.95); 
    }
            /*point up*/
    17%{
        transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    18.18%{
        top: 80px;
        transform: scale(1,1);
        animation-timing-function: ease-in;

    }
    /*point end*/

    /*falling*/
    26%{
        transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    27.27%{
        animation-timing-function: ease-out;
        top: 340px;
        transform: scale(1.1,.95);
    }
    /*fall end*/
    /*up*/
    35%{
        transform: scale(1,1);
        animation-timing-function: ease-in;

    }
    36.36%{
        top: 130px;
        transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    /*up end*/
    /*falling*/
    44%{
        transform: scale(1,1);
        animation-timing-function: ease-out;

    }
    45.45%{
        animation-timing-function: ease-out;
        top: 340px;
        transform: scale(1.1,.95);
    }
    /*fall end*/
    /*up*/
    53%{
        transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    54.54%{
        top: 200px;
        animation-timing-function: ease-in;
        transform: scale(1,1);

    }
    /*up end*/
    /*falling*/
    62%{
        animation-timing-function: ease-out;
        transform: scale(1,1);

    }
    63.63%{
        top: 340px;
        animation-timing-function: ease-out;
        transform: scale(1.1,.95);
    }
    /*end*/
    /*up*/
    71%{
        animation-timing-function: ease-in;
        transform: scale(1,1);

    }
    72.72%{
        top: 270px;
        animation-timing-function: ease-in;
        transform: scale(1,1);
    }
    /*up end*/
    /*falling*/
    80%{
        animation-timing-function: ease-out;
        transform: scale(1,1);

    }
    81.81%{
        top: 340px;
        animation-timing-function: ease-out;
        transform: scale(1.1,.95);
    }
    /*fall end*/
    /*up*/
    89%{
        animation-timing-function: ease-in;
        transform: scale(1,1);

    }
    90.90%{
        top:320px;
        animation-timing-function: ease-in;
        transform: scale(1,1);
    }
    /*up end*/
    /*falling*/
    99%{
        animation-timing-function: ease-out;
        transform: scale(1,1);
    }
    100%{
        top: 340px;
        animation-timing-function: ease-out;
        transform: scale(1.1,.95);
    }
}